.footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
p span:nth-child(1):hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}
p span:nth-child(2):hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
span {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
}
@media (max-width: 768px) {
    .footer {
        position: sticky;
        width: auto;
    }
}